<launch>
	<!-- Set here your Serial Port, you can set output="screen" to see -->
	<!-- the print at the terminal console-->
	<!-- args are serial port and baudrate-->
	<node pkg="serial_mpu9150" name="serial_node" type="serial_node" required="true" 
		 args="/dev/ttyACM0 57600"/>
	<!-- Serial imu node -->
	<node pkg="serial_mpu9150" name="mpu_rviz" type="mpu_rviz" />
	<!-- Rviz -->
	<node pkg="rviz" name="view_imu" type="rviz" args="-f my_frame" />
</launch>
